<div class="">
  <div class=" panel panel-default" ng-repeat="obj in techno.technologies" ng-click="techno.navigateToRepoScreen(obj)">
    <div class="btn panel-body">
      <div class="media">
        <div class="media-left media-middle col-md-2">
          <a href="#">
            <img class="media-object" src="" alt="No Src for now">
          </a>
        </div>
        <div class="media-body" class="col-md-4">
          <h2 class="media-heading">{{obj}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>
